{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Web developer &amp; Computer Network Enthusiast</h3>
          <p class="fst-italic">
            I bring the best of web technology to your finger tips
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 june 1994</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.lustervs.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 8115897450</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Aba, Abia state, Nigeria</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>HND</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ucktech1@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            I am industrious, hardworking, and obedient. I believe in teamwork though I can work personally. I devote myself to teaching others and to contributing to humanity with the skills  I am acquainted with. A focused and task-oriented person who has the ability to solve problems and the ability to present ideas. I am keen on information and detail. I can manage resources usefully and above all, I am ever ready to learn new things scale and improve on my existing skills, and I flair for success and achievement. 
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python/Django <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">WordPress/CMS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3>country Music</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>classical Musics</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3>Adventure Books</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3>Crypto</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>Network Automation</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3>cyber security</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3>Community Service</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3>Football</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3>African Dishes</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3>Artificial Intelligence</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3>Kids</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3>God</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume <span><img src="{% static 'assets/img/hng_logo_1.png' %}" style="height:50px;" alt="Hng Logo" ></span></p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Uba Joseph</h4>
            <p><em>Innovative and deadline-driven web backend Developer with 2+ years of experience designing and developing user-centered websites from initial concept to final deployment.</em></p>
            <p>
            <ul>
              <li> 11 Nicholas street, Aba, Abia State</li>
              <li>+234 8115897450</li>
              <li>ucktech1@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>National Diloma &amp; Computer Science</h4>
            <h5>2016 - 2018</h5>
            <p><em>Abia State Polytechnic Aba </em></p>
          </div>
          <div class="resume-item">
            <h4>SSCE /WAEC SSCE &amp; Nigerian Christian High School 
              (2006-2012)
            </h4>
            <h5>2010 - 2014</h5>
            <p><em>Obingwa, Abia State, Nigeria</em></p>
          </div>
          <div class="resume-item">
            <h4>FLSC &amp; Nigerian Christian Staff School</h4>
            <h5>2010 - 2014</h5>
            <p><em>Obingwa, Abia State, Nigeria</em></p>        
          </div>
          
          <h3 class="resume-title">Achievements</h3>
          <div class="resume-item pb-0">
            <h4>Uba Joseph</h4>
            <p><em>highlight of My achiements so far</em></p>
            <p>
            <ul>
              <li>Speaker and moderator at the Hacktoberfest Aba 2020.</li>
              <li>Public Relation Office python Abia</li>
              <li>Speaker Ashpot TechTalk 2018,2019</li>
              <li>Through the Early Start initiative powered by Ashpot, I have taught over 200 kids basic programming using scratch software and python</li> 
            </ul>
            </p>
          </div>
          <h3 class="resume-title">CERTIFICATION</h3>
          <div class="resume-item pb-0">
            <p><em>My certificationa</em></p>
            <p>
            <ul>
              <li><b>Sumochs digitial services</b>
                Computer training: appreciation in MS word, MS Excel, MS PowerPoint (2015)
              </li>
              <li><b>NIIT Owerri</b>
                CCNA training  and certification(2016)
              </li>
              <li><b>Udemy</b>
                SCRUM Agile project Managment. 
                </li>
              <li>Google Digital Marketing skill</li> 
              <li>Fortinet Basic internet security</li> 
            </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Vice President Learning</h4>
            <h5>2019 - Present</h5>
            <p><em> Ashpot Microsystems,  Aba </em></p>
            <p>
            <ul>
              <li>Develops and  maintain an upto date course outline and curriculum for backend and python development</li>
              <li>Delegate tasks to the members of the development team and provide instructions on all aspects of the project. </li>
              <li>Supervise the assessment of all junio instructors on our kiddies early start program order to ensure quality teaching and accurate delivery</li>
              
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Instructor/Developer 2018 to 2019
            </h4>
            <h5>2018 - 2019</h5>
            <p><em>Ashpot Microsystems Aba</em></p>
            <p>
            <ul>
              <li>CCNA Instructor.</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Front End development and design instructor.</li>
              <li>Python instructor.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Technical Assistant 
            </h4>
            <h5>2017 - 2018</h5>
            <p><em>SUMOCHS Digital Services, Umuahia </em></p>
            <p>
            <ul>
              <li>Client Consultations.</li>
              <li>Website maintenance</li>
              <li>Help Desk</li>
              <li>Hardware and software Troubleshooting</li>
            </ul>
            </p>
          </div>
          <h3 class="resume-title">Tech Skills</h3>
          <div class="resume-item pb-0">
            <h4>Uba Joseph</h4>
            <p><em>Evolving technological skills acquired and update by me for efficient delivery and customer satisfaction</em></p>
            <p>
            <ul>
              <li> HTML5</li>
              <li>CSS3</li>
              <li>Boostrap</li>
              <li>Javascript(Jquery)</li>
              <li>Network Routing and Switching (CCNA)</li>
              <li>fortinet cybersecurity</li>
              <li>SCRUM (Agile with  Atlassian)</li>
              <li>API Documentation with Postman</li>
              <li>Digital Marketing</li>
              <li>Database (SQL,PostgreSQL</li>
              <li>Git/Github</li>
              <li>python</li>
              <li>Django</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>No 11 nicholas stree, off Brass junction , Aba</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://twitter.com/Ubajoseph_u" class="twitter"><i class="bi bi-twitter"></i></a>
      n       <a href="https://facebook.com/josephuba.ugochukwu" class="facebook"><i class="bi bi-facebook"></i></a>
               <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
               <a href="https://linkedin.com/in/ubajoseph" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>ucktech1@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+234 8115897450</p>
          </div>
        </div>
      </div>

      <form action="{% url 'index' %}" method="POST" role="form" class="php-email-form mt-4">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            {{ form.name}}
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            {{ form.email}}
          </div>
        </div>
        <div class="form-group mt-3">
          {{ form.subject}}
        </div>
        <div class="form-group mt-3">
          {{ form.message}}
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div> {% include 'partials/_messages.html'%}</div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

{% endblock %}