  {% load static %}
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <p><img src="{% static 'assets/img/hng_logo_3.png' %}" style="height:60px; margin-right:30px;" alt="Hng Logo" ></p>
      <h1><a href="index.html">Uba Joseph</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>Web Developer</span> from Nigeria</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://twitter.com/Ubajoseph_u" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://facebook.com/josephuba.ugochukwu" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://linkedin.com/in/ubajoseph" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->